#about {
  color: blue;
}
.navigation {
  list-style-type: none;
  text-align: center;
  margin: 20;
  padding: 20;
}

.navigation li {
  font-family: "Segoe UI";

  display: inline-block;
  font-size: 20px;
  padding: 20px;
}
